<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th colspan="2">
          <button (click)="addUser()" type="button" class="btn btn-block btn-xs btn-success"
                  data-toggle="modal" data-target="#exampleModal">Add</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersService.userList">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.password}}</td>
        <td>{{user.profession}}</td>
        <td><button (click)="usersService.selectedUser = user" type="button" class="btn btn-block btn-xs btn-info" data-toggle="modal" data-target="#exampleModal">Edit</button></td>
        <td><button (click)="delete(user)" *ngIf="user.deletable" type="button" class="btn btn-block btn-xs btn-danger">Remove</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>